openapi: "3.0.3"
info:
  title: Human Design Engine API
  description: |
    Compute verified Human Design natal charts, transit overlays, and relationship
    synastry using the open-source OpenHumanDesignMCP calculation engine (AGPLv3).
    
    Built on Swiss Ephemeris with verified accuracy against Neutrino Design and
    Genetic Matrix. Same engine used by humandesignengine.com for paid reports.
    
    **Free tier:** 100 calls/month. **Pro:** $19/mo (10,000 calls).
    **Enterprise:** Custom pricing with dedicated infrastructure.
    
    [Get your API key →](https://humandesignengine.com/landing-api.html)
    
    **License:** AGPLv3 — if you run this as a network service, source code
    must be provided per Section 13.
  version: "0.1.0"
  contact:
    name: Human Design Engine
    url: https://humandesignengine.com
    email: api@humandesignengine.com
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.html

servers:
  - url: https://api.humandesignengine.com/v1
    description: Production API
  - url: http://localhost:8081
    description: Local development

security:
  - ApiKeyHeader: []

paths:
  /ping:
    get:
      operationId: ping
      summary: Health check
      description: Returns service status, version, and license information. No auth required.
      tags: [Health]
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  service:
                    type: string
                    example: "hde-reports"
                  version:
                    type: string
                    example: "0.1.0"
                  license:
                    type: string
                    example: "AGPLv3"

  /natal:
    post:
      operationId: computeNatalChart
      summary: Compute a natal (birth) chart
      description: |
        Calculate a complete Human Design natal chart from birth data.
        Returns type, strategy, authority, profile, incarnation cross,
        defined/undefined centers, channels, gates, variables, and more.
      tags: [Charts]
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BirthData"
            examples:
              projector:
                summary: Self-Projected Projector
                value:
                  name: "Jane Doe"
                  year: 1990
                  month: 6
                  day: 1
                  hour: 8
                  minute: 0
                  lat: 40.71
                  lon: -74.0
                  timezone: "America/New_York"
      responses:
        "200":
          description: Chart computed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NatalChartResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "502":
          description: Computation engine unavailable

  /transits:
    post:
      operationId: computeTransits
      summary: Compute transit overlay for a natal chart
      description: |
        Compute planetary transit conditioning for a birth chart on a given date
        (defaults to today). Returns activated gates, conditioned centers,
        temporarily defined channels, and transit interpretation hints.
      tags: [Charts]
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/BirthData"
                - type: object
                  properties:
                    target_date:
                      type: string
                      format: date
                      description: Snapshot date (defaults to today if omitted)
                      example: "2026-06-15"
      responses:
        "200":
          description: Transit overlay computed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransitResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /synastry:
    post:
      operationId: computeSynastry
      summary: Compute relationship composite between two charts
      description: |
        Calculate synastry (relationship composite) between two birth charts.
        Returns composite channels, electromagnetic channels, compromise gates,
        shared gates, and relationship dynamics.
      tags: [Charts]
      security:
        - ApiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [person_a, person_b]
              properties:
                person_a:
                  $ref: "#/components/schemas/BirthData"
                person_b:
                  $ref: "#/components/schemas/BirthData"
      responses:
        "200":
          description: Synastry computed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SynastryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /public/compute-chart:
    post:
      operationId: computePublicChart
      summary: Compute simplified chart (no auth, rate-limited)
      description: |
        Public endpoint for free chart widgets and demos. Returns a simplified
        natal chart with type, profile, authority, centers, and signature.
        Rate-limited to 10 calls/minute per IP. No API key required.
      tags: [Public]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BirthData"
      responses:
        "200":
          description: Simplified chart computed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: "#/components/schemas/SimplifiedChart"
        "429":
          description: Rate limit exceeded

components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your API key from the Human Design Engine dashboard

  schemas:
    BirthData:
      type: object
      required: [name, year, month, day, hour]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Person's name
          example: "Jane Doe"
        year:
          type: integer
          minimum: 1900
          maximum: 2100
          description: Birth year
          example: 1990
        month:
          type: integer
          minimum: 1
          maximum: 12
          description: Birth month (1-12)
          example: 6
        day:
          type: integer
          minimum: 1
          maximum: 31
          description: Birth day (1-31)
          example: 1
        hour:
          type: integer
          minimum: 0
          maximum: 23
          description: Birth hour in local time (0-23)
          example: 8
        minute:
          type: integer
          minimum: 0
          maximum: 59
          default: 0
          description: Birth minute (0-59)
          example: 0
        lat:
          type: number
          minimum: -90
          maximum: 90
          description: Geographic latitude
          example: 40.71
        lon:
          type: number
          minimum: -180
          maximum: 180
          description: Geographic longitude
          example: -74.0
        timezone:
          type: string
          maxLength: 100
          description: IANA timezone string
          example: "America/New_York"
        location:
          type: string
          maxLength: 500
          description: Human-readable location name
          example: "New York, NY"

    NatalChartResponse:
      type: object
      properties:
        success:
          type: boolean
        endpoint:
          type: string
          example: "/v1/natal"
        data:
          type: object
          properties:
            name:
              type: string
            hd_type:
              type: string
              description: Human Design type (Manifestor/Generator/Manifesting Generator/Projector/Reflector)
              example: "Projector"
            profile:
              type: string
              example: "6/2"
            authority:
              type: string
              example: "Self-Projected"
            strategy:
              type: string
              example: "Wait for the Invitation"
            definition:
              type: string
              example: "Single"
            incarnation_cross:
              type: object
              properties:
                name:
                  type: string
                gates:
                  type: object
            defined_centers:
              type: array
              items:
                type: string
              example: ["Ajna", "G", "Throat"]
            undefined_centers:
              type: array
              items:
                type: string
            defined_channels:
              type: array
              items:
                type: object
                properties:
                  gates:
                    type: array
                    items:
                      type: integer
                  name:
                    type: string
            signature:
              type: string
              example: "Success"
            not_self_theme:
              type: string
              example: "Bitterness"
            variables:
              type: array
              items:
                type: string
              description: "[Digestion, Environment, Perspective, Motivation, ...]"

    SimplifiedChart:
      type: object
      properties:
        name:
          type: string
        hd_type:
          type: string
        profile:
          type: string
        authority:
          type: string
        strategy:
          type: string
        definition:
          type: string
        defined_centers:
          type: array
          items:
            type: string
        undefined_centers:
          type: array
          items:
            type: string
        signature:
          type: string
        not_self_theme:
          type: string

    TransitResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            transit_positions:
              type: object
              description: Planet → {gate, line, center, retrograde}
            conditioned_channels:
              type: array
            conditioned_centers:
              type: array
            new_gates:
              type: array
            interpretation_hints:
              type: array

    SynastryResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            composite_channels:
              type: array
            electromagnetic_channels:
              type: array
            compromise_gates:
              type: array
            shared_gates:
              type: array

  responses:
    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"
              license:
                type: string
                example: "AGPLv3"

tags:
  - name: Health
    description: Service status and version
  - name: Charts
    description: Chart computation endpoints (auth required)
  - name: Public
    description: Rate-limited endpoints for widgets and demos
